header.header 
  .l-inner 
    h1.header-logo
      a(href="#")
        img(src="./img/img_header_logo.png", alt="Cake Story")
    nav.gnav
      ul
        li
          a(href="#") Home
        li
          a(href="#") About Us
        li
          a(href="#") Services
        li
          a(href="#") Cakes
        li
          a(href="#") Contact Us