footer.footer
  .site-info
    .l-inner
      h4
        a(href="#")
          img(src="img/img_footer_logo.png" alt="BonAppetit")
      p.
        Lorem ipsum dolor sit amet, consectetur adipi #[br]
        scing elit, sed do eiusmod tempor incididunt #[br]
        adipiscing. do Lorem ipsum dolor sit...
  .copyright
    .l-inner
      p Copyright © 2022 Company Name Co.,Ltd. All Rights Reserved