header.header 
  .l-inner.clearfix 
    h1.header-logo
      a(href="#")
        img(src="img/img_header_logo.png", alt="BonAppetit")
    nav.gnav
      ul.clearfix
        li
          a(href="#",class="active") Home
        li
          a(href="") Our Menu
        li
          a(href="") Chefs
        li
          a(href="") Read blog
        li
          a(href="") Gallery
        li
          a(href="") Contact