@charset "utf-8";
@font-face {
	font-family: 'Julius Sans One';
	font-weight: 400;
	src: url('../fonts/JuliusSansOne-Regular.ttf');
}
@font-face {
	font-family: 'Arial';
	font-weight: 400;
	src: url('../fonts/Arial.ttf');
}
@font-face {
	font-family: 'MyriadPro-Regular';
	font-weight: 400;
	src: url('../fonts/MyriadPro-Regular.ttf');
}

body {
	margin: 0 auto;
	background-color: #ffffff;
	color: #000000;
	font-family: 'Julius Sans One', sans-serif;
	font-size: 16px;
	font-weight: 400;
	max-width: 1920px;
}
.clearfix {
	&::after {
		display: block;
		clear: both;
		content: "";
	}
}
a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	&:hover {
		transition: 0.8s;
		-webkit-transition: 0.8s;
		opacity: 0.8;
	}
}
img {
	max-width: 100%;
}
.l-inner {
	margin: 0 auto;
	max-width: 1281px;
}
.cmn-ttl {
	line-height: 1.2;
	font-size: 35px;
	text-align: center;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.cmn-btn {
	width: 312px;
	padding: 22px 10px 17px;
	border: 1px solid transparent;
	background-color: #363636;
	text-align: center;
	letter-spacing: 5px;
	text-transform: uppercase;
	border-radius: 5px;
	&:hover {
		border: 1px solid #363636;
		background-color: #ffffff;
		color: #363636;
	}
}
p {
	font-family: 'Arial', sans-serif;
}
.sec-mv {
	position: relative;
	padding: 35px 0 108px;
	background: url('../img/img_mv_bg.png') no-repeat center/cover;
	.header {
		margin-bottom: 95px;
		padding: 30px 0 23px;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
		background-color: #ffffff;
		.header-logo {
			position: absolute;
			top: 0;
			float: left;
			padding: 47px 94px 46px 107px;
			background: url('../img/img_header_logo_bg.png') no-repeat center/cover;
		}
		.gnav {
			float: right;
			li {
				float: left;
				margin-right: 54px;
				&:last-child {
					margin-right: 0;
				}
				a {
					padding-bottom: 7px;
					color: #636363;
					font-family: 'MyriadPro-Regular';
					letter-spacing: 5px;
					text-transform: uppercase;
					border-bottom: 1px solid transparent;
					&:hover {
						border-bottom: 1px solid #cccccc;
					}
				}
				a.active {
					border-bottom: 1px solid #cccccc;
				}
			}
		}
	}
	.mv-blk {
		.txt-blk {
			width: 606px;
			padding: 48px 68px 58px;
			border: 5px solid #ebebeb;
			.cmn-ttl {
				font-size: 33px;
				text-align: left;
				letter-spacing: 3px;
			}
			p {
				line-height: 1.6;
				padding: 13px 3px;
				color: #8c8d8d;
				font-size: 14px;
				letter-spacing: 0.6px;
			}
		}
	}
}
.sec-book-table {
	padding: 55px 0 40px;
	.img-blk {
		float: left;
		width: 62%;
		margin-top: 2px;
		margin-left: -25px;
	}
	.txt-blk {
		float: right;
		width: 35%;
		.cmn-ttl {
			padding-bottom: 30px;
			text-align: left;
		}
		p {
			line-height: 1.65;
			padding-bottom: 28px;
			letter-spacing: 0.55px;
		}
		.cmn-btn {
			margin: 10px 4px 0;
		}
	}
}
.sec-menu {
	padding: 16px 0 80px;
	.menu-mark {
		position: relative;
		margin-bottom: 39px;
		text-align: center;
		&::before {
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			z-index: -1;
			width: 77%;
			height: 2px;
			margin: 0 auto;
			background-color: #000000;
			content: '';
			transform: translateY(-50%);
		}
		span {
			padding: 0 48px;
			background-color: #ffffff;
		}
	}
	.menu-list {
		padding-top: 72px;
		li {
			float: left;
			width: 47.1%;
			margin-right: 5.7%;
			margin-bottom: 46px;
			&:nth-child(2n) {
				margin-right: 0;
			}
			.img-blk {
				float: left;
				width: 28%;
			}
			.txt-blk {
				float: right;
				width: 67%;
				.menu-ttl {
					padding-bottom: 14px;
					font-size: 28px;
					letter-spacing: 2px;
				}
				p {
					line-height: 1.85;
					letter-spacing: 0.44px;
				}
			}
		}
	}
	.cmn-btn {
		margin: 0 auto;
	}
}
.sec-chefs {
	padding: 40px 0 45px;
	background: url('../img/img_chefs_bg.png') no-repeat center/cover;
	.chefs-list {
		padding-top: 31px;
		li {
			float: left;
			width: 29.3%;
			margin-right: 6%;
			text-align: center;
			&:nth-child(3n) {
				margin-right: 0;
			}
		}
		.chef-name {
			padding: 37px 0 35px;
			font-family: 'MyriadPro-Regular';
			font-size: 28px;
			font-weight: 400;
			letter-spacing: 3.4px;
			text-transform: uppercase;
			span {
				display: block;
				font-size: 20px;
				letter-spacing: 2.2px;
			}
		}
		p {
			line-height: 1.55;
			letter-spacing: 0.8px;
		}
	}
}
.sec-blogs {
	padding: 100px 0 80px;
	background: url('../img/img_blogs_bg.png') no-repeat center/cover;
	.blogs-list {
		padding: 32px 0 40px;
		li {
			position: relative;
			float: left;
			width: 29.3%;
			margin-right: 6%;
			&:nth-child(3n) {
				margin-right: 0;
			}
			p {
				position: absolute;
				top: 40%;
				width: 100%;
				line-height: 1.35;
				padding: 3px 10px 0;
				background-color: rgba(95, 95, 92, 0.5);
				color: #ffffff;
				font-family: 'Julius Sans One', sans-serif;
				font-size: 24px;
				text-align: center;
				letter-spacing: 1.5px;
				text-transform: uppercase;
			}
		}
	}
	.btn-list {
		width: 270px;
		margin: 0 auto;
		li {
			float: left;
			margin-right: 30px;
			&:last-child {
				margin-right: 0;
			}
			a {
				width: 120px;
				padding: 12px 10px;
				background-color: #d5d0cc;
				text-align: center;
				&:hover {
					background-color: #363636;
				}
			}
		}
	}
}
.footer {
	line-height: 1.58;
	color: #ffffff;
	text-align: center;
	.site-info {
		padding: 38px 0 44px;
		background-color: #2b2a2a;
		p {
			padding-top: 39px;
			letter-spacing: 0.7px;
		}
	}
	.copyright {
		padding: 31px 0 33px;
		background-color: #252525;
		letter-spacing: 0.9px;
	}
}
.btn {
	display: flex;
	padding: 10px 5px;
	border: 1px solid #000;
	color: #000;
	width: 300px;
	border-radius: 10px;
	align-items: center;
}
.img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 34px;
	height: 34px;
	margin-right: 10px;
}
