section.sec-blogs 
  .l-inner 
    h2.cmn-ttl Read our blogs
    block blogslist
    ul.btn-list.clearfix
      li
        a(href="#")
          img(src="img/img_left_arrow.png" alt="Left Arrow")
      li
        a(href="#")
          img(src="img/img_right_arrow.png" alt="Right Arrow")
