section.sec-book-table
  .l-inner.clearfix
    p.img-blk
      img(src="img/img_book.png", alt="BonAppetit Serves Contemporary European Cuisine.")
    div.txt-blk
      h2.cmn-ttl BonAppetit Serves Contemporary European Cuisine.
      p Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore morbi Lorem ipsum dolor sit amet adipiscing.
      p Lorem consectetur adipiscing eliturna. dolor sit amet, adipiscing eliturna. consectetur ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmorbi Lorem ipsum dolor sit...
      a.cmn-btn(href="#") book a table
