.mv-blk
  .l-inner 
    .txt-blk 
      h2.cmn-ttl.
        Tasteiest and Mouth #[br]
        Watering Menus in Myanmar
      p Lorem ipsum dolor sit amet, consectetur adipi scing elit, Lorem ipsum dolor sit amet, consectetur do eiusmod tempor incididunt ut labore et dolore...