@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.5s;
}

img {
  max-width: 100%;
}

.l-inner {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}

.cmn-ttl {
  padding-bottom: 40px;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
}

/* Header */
.header {
  padding: 5px 0;
  background-color: #f7f7f7;
}

.header .l-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 100px;
}

.gnav ul {
  display: flex;
  align-items: center;
}

.gnav ul li {
  padding: 10px;
}

.gnav ul li a {
  padding-bottom: 10px;
  color: #000;
}

.gnav ul li a:hover {
  position: relative;
}

.gnav ul li a:hover::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  content: '';
  border-bottom: 2px solid #000;
  animation: border_anim 1s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

/* Our Service */
.sec-service {
  padding: 50px 0;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 3%;

}

.service-list li {
  width: 300px;
  margin: 0 auto 20px;
  cursor: pointer;
}

.service-list li .list-img {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 5px solid #ccc;
  border-radius: 50%;
}

.service-list li img {
  width: 100%;
  height: 100%;
  transition: 0.5s all;
  object-fit: cover;
}

.service-list li:hover img {
  transform: scale(1.2);
}

.service-list li .list-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  transform: translate(-50%);
}

/* Footer */
.footer {
  padding: 20px 0;
  background-color: #f7f7f7;
}

.footer p {
  line-height: 1.2;
  text-align: center;
}

/* Mobile */
@media only screen and (max-width: 460px) {
  .gnav ul {
    display: block;
  }

  .gnav ul li {
    padding: 5px;
  }
}