- const pagenum = ['<','1','2','3','4','5','>']

-
  const cakeLists = [
    {
      image:'cake01',
      cakeName: 'Black Forest',
      cakePrice:' $530'
    },
    {
      image:'cake02',
      cakeName:'Blueberry Cheesecake',
      cakePrice:'$570'
    },
    {
      image:'cake03',
      cakeName:'Chocolate Mousse',
      cakePrice:'$560'
    }, 
    {
      image:'cake04',
      cakeName:'German Choco Cake',
      cakePrice:'$580'
    }, 
    {
      image:'cake05',
      cakeName:'Pandan Cake',
      cakePrice:'$530'
    }, 
    {
      image:'cake06',
      cakeName:'Oreo Cheesecake',
      cakePrice:'$580'
    }, 
    {
      image:'cake07',
      cakeName:'Red Velvet',
      cakePrice:'$680'
    }, 
    {
      image:'cake08',
      cakeName:'White Chocolate Cake',
      cakePrice:'$600'
    }, 
    {
      image:'cake09',
      cakeName:'Pistachio Cake',
      cakePrice:'$610'
    }, 
  ]