@charset "utf-8";
.col{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

label,.lbl{
  width: 10%;
}

input,textarea{
  padding: 10px;
  width: 20%;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}
