extends templates/layout

block main 
  section.sec-common
    .l-inner
      h2.cmn-ttl Our Services
      ul.service-list
        li
          .list-img
            img(src="img/img_service01.jpg", alt="Hospitals")
            p.list-txt Hospitals
        li
          .list-img
            img(src="img/img_service02.jpg", alt="Hotels")
            p.list-txt Hotels 
        li
          .list-img
            img(src="img/img_service03.jpg", alt="House Cleaning")
            p.list-txt House Cleaning
        li
          .list-img
            img(src="img/img_service04.png", alt="End of Tenancy")
            p.list-txt End of Tenancy
        li
          .list-img
            img(src="img/img_service05.png", alt="Oven Cleaning")
            p.list-txt Oven Cleaning
        li
          .list-img
            img(src="img/img_service06.jpg", alt="Covid Disinfection")
            p.list-txt Covid Disinfection

            