doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Clean Express
    link(rel="stylesheet", href="css/reset.css")
    link(rel="stylesheet", href="css/style.css")
  body
    header.header
      .l-inner
        h1.header-logo
          a(href="#")
            img(src="img/img_header_logo.png", alt="Clean Express")
        nav.gnav
          ul
            li
              a(href="#") News
            li
              a(href="#") Our Team 
            li
              a(href="#") About Us 
            li
              a(href="#") Contact Us 
    section.sec-service
      .l-inner
        h2.cmn-ttl Our Services
        ul.service-list
          li
            .list-img
              img(src="img/img_service01.jpg", alt="Hospitals")
              p.list-txt Hospitals
          li
            .list-img
              img(src="img/img_service02.jpg", alt="Hotels")
              p.list-txt Hotels 
          li
            .list-img
              img(src="img/img_service03.jpg", alt="House Cleaning")
              p.list-txt House Cleaning
          li
            .list-img
              img(src="img/img_service04.png", alt="End of Tenancy")
              p.list-txt End of Tenancy
          li
            .list-img
              img(src="img/img_service05.png", alt="Oven Cleaning")
              p.list-txt Oven Cleaning
          li
            .list-img
              img(src="img/img_service06.jpg", alt="Covid Disinfection")
              p.list-txt Covid Disinfection  
    footer.footer
      .l-inner
        p Copyright &copy; Clean Express Co., Ltd. All rights reserved.



