- 
  const menuList = [
    {
      image: 'menu01',
      title: 'Pasta With Fish',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore morbi Lorem ipsum...'
    },
    {
      image: 'menu02',
      title: 'Special Vegterian Soup',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore morbi Lorem ipsum...'
    },
    {
      image: 'menu03',
      title: 'Fresh Goat Meat',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore morbi Lorem ipsum...'
    },
    {
      image: 'menu04',
      title: 'Vegterian Fried Rice',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore morbi Lorem ipsum...'
    },
    {
      image: 'menu05',
      title: 'Special Spaghetti',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore morbi Lorem ipsum...'
    },
    {
      image: 'menu06',
      title: 'Salamon Pasta',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt ut labore et dolore morbi Lorem ipsum...'
    },
  ]

- 
  const chefsList = [
    {
      image: 'chef01',
      name: 'Benji Johnson',
      role: '(Master Chef)',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt adipiscing. do Lorem ipsum dolor sit...'
    },
    {
      image: 'chef02',
      name: 'Alan Mathews',
      role: '(Senior Chef)',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt adipiscing. do Lorem ipsum dolor sit...'
    },
    {
      image: 'chef03',
      name: 'Michael Aurther',
      role: '(Senior Chef)',
      desc: 'Lorem ipsum dolor sit amet, consectetur adipi scing elit, sed do eiusmod tempor incididunt adipiscing. do Lorem ipsum dolor sit...'
    },
  ]

- 
  const blogsList = [
    {
      image: 'blog01',
      desc: 'Make Pudding Just Like Mom'
    },
    {
      image: 'blog02',
      desc: 'Make Pudding Just Like Mom'
    },
    {
      image: 'blog03',
      desc: 'Make Pudding Just Like Mom'
    },   
  ]